.MessageContainer {
    padding-top: 30px;
    text-align: center;
    width: 100%;
    position: relative;
}

.MessageContainer > div{
    width:100%
}
#messageDeliveryWhen{
    margin-top:60px;
    
}

#messageDeliveryWhen h2{
    margin-bottom:40px
}
.SelectedBox{
    box-shadow: 2px 2px 2px #e8e8e8;
    border: 1px solid #1890ff;
}
.ant-list-item{
    cursor: pointer;
}
#frequency,#frequency-oneTimeOnly,#frequency-recurring{
    margin-top:40px
}

.animated {
  
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 .ant-radio-checked .ant-radio-inner {
    border-color: #1890ff;
}

.dateClass{
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
}