.MessageContainer {
    padding-top: 30px;
    text-align: center;
    width: 100%;
    position: relative;
}

.MessageContainer > div{
    width:100%
}


.animated {
  
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

 @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }

 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 .hidden{
     display: none
}


.fadeIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#relationship,#relationshipMessage, #messageType,#messageDeliveryWhen,#messageFrequency{
    position:absolute;
    margin-top:20px;
    padding-top:20px;
    
}
#relationshipMessage input{
 width:200px
}

.ant-list-item{
    cursor: pointer;
}
.MessageContainer{
    padding-top:30px
}
.SelectedBox{
    box-shadow: 2px 2px 2px #e8e8e8;
    border: 1px solid #1890ff;
}