.RecipientContainer{
    margin-top:40px
}


.fader {
    -moz-transition: opacity 0.7s linear;
    -o-transition: opacity 0.7s linear;
    -webkit-transition: opacity 0.7s linear;
    transition: opacity 0.7s linear;
}

.fader.fadedOut {
    opacity: 0;
}
.QuestionBox{
    margin-top:40px
}
.QuestionBox .form-group, #emailInfoBox{
    margin-left:50px
}


