.LeftSide{
 /* border:1px solid red; */
 padding:15px;
 margin-top:40px;
}

.RightSide{
    /* border:1px solid black; */
    padding:15px;
    margin-top:40px;
}
.Boxes{
    /* border: 1px solid blueviolet; */
    margin-bottom:40px;
    border:1px solid #ddd;
    padding:15px;
}
.BeneficiaryList{
    list-style-type: none;
    padding:0;
    margin:0
}
.Heading{
    font-weight:500;
    font-size:18px;
    text-transform: capitalize
}

.BeneficiaryList li a{
    text-transform: capitalize;
    font-weight:500
}

.BeneficiaryList li{
    padding:0 0 10px 0
}
.ProfilePicBlock{
    border:1px solid #ededed;
    padding:15px;
    text-align:center
}
.ProfilePic{
    border:1px solid #ededed;
    text-align: center;
    margin-bottom:15px;
}
.ProfileData{
    text-align: left;
}
.Link{
    margin:15px
}
.Pic{
  width:200px;
  height:150px
}

