.App {
  text-align: center;
}

.MainContent{
  padding:20px 15px
}
.help-block{
  color:red
}

.TextCenter{
  text-align:center
}
.MainContent{
  width:100%
}
.hidden{
  display:none
}
body{
  font-size:16px;
}
